/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/

/**
 * Imports................Brings in Compass, Toolkit, Breakpoint, Reset, Susy2, Mixins, Variables and Components
 * Components.............Site Components 
 * * Base.................Base Element Styles
 * * Typography...........Base Type Styles
 * Sections...............Page Sections
 */





/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/

@import "fontawesome/variables";
@import "fontawesome/mixins";
@import "fontawesome/path";
@import "fontawesome/core";
@import "fontawesome/larger";
@import "fontawesome/fixed-width";
@import "fontawesome/list";
@import "fontawesome/bordered-pulled";
@import "fontawesome/spinning";
@import "fontawesome/rotated-flipped";
@import "fontawesome/stacked";
@import "fontawesome/icons";

@import "compass";
@import "toolkit";
@import "breakpoint";
@import 'mixins';
@import 'vars';
@import "reset";
@import 'components/**/*';

body {
  background: #333;
  color:white;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

@include breakpoint(500px) {
  body {
    overflow: visible;
  }
}


.vid-img {
  opacity: 0;
  position: absolute;
  height: 355px;
  max-width: auto;
  z-index: 1;
  top:55px;
  @include trans;  
}

video {
  display: none;
  opacity: 0;
  position: absolute;
  height: 100%;
  max-height: 730px;
  z-index: 1;
  top:55px;
  @include trans;
}
.home video, .home .vid-img {
  opacity: 0.1;
}

@include breakpoint(500px) {
  .vid-img {
    display: none;
  }
  video {
    display: block;
  }
}

@include breakpoint(1298px) {
  video {
    height: auto;
    max-height: initial;
    width: 100%;
  }
}



.wrap {
  @include breakpoint($med) {
    position: relative;
    z-index: 100;
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -170px; 
  }
}
.wrap:after {
  content: "";
  display: block;
}





/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/


/*--$HEADER--*/

.header {
  @include clearfix;
  background: #ECF0F1;
  overflow: hidden;
  height: 52px;
  z-index: 1000;
  position: fixed;
  width: 100%;
}


.logo {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  background: pcolor(home);
  float: left;
  color:white;
  padding: 10px;
  position: relative;
  @include fs(26px);
  z-index: 100;
  overflow: hidden;
  &:before {
    content:'';
    top:0;
    left:52px;
    height: 52px;
    width: 156px;
    position: absolute;
    background: pcolor(about);
    display: block;
    z-index:-1;
    @include trans;
    background-image: linear-gradient(90deg, pcolor(about) 33.333%, pcolor(projects) 33.333%, pcolor(projects) 66.667%, pcolor(contact) 66.667%);
    background-size:156px 52px;
  }
}

.about .logo:before {
  left:0px;
}

.projects .logo:before {
  left:-52px;
}

.contact .logo:before {
  left:-104px;
}

// .logo {
//   text-transform: uppercase;
//   font-weight: 900;
//   letter-spacing: 1px;
//   background: $blue;
//   float: left;
//   color:white;
//   padding: 10px;
//   position: relative;
//   @include fs(26px);
//   z-index: 100;
//   overflow: hidden;
//   &:before, &:after {
//     content:'';
//     top:0;
//     right:0;
//     height: 52px;
//     width: 52px;
//     position: absolute;
//     background: white;
//     display: block;
//     z-index:-1;
//     opacity: 0;
//     @include trans;
//     @include transform(rotate(0deg));
//     transform-origin: center center; 
//   }
//   &:after {
//     background:#333;
//   }
//   &:hover{
//   }
//   &:hover:after, &:hover:before {
//     top: 6px;
//     right: 6px;
//     height: 40px;
//     width: 40px;
//     opacity: 1.0;
//   }
//   &:hover:after {
//     @include transform(rotate(68.5deg));
//     height: 28px;
// width: 28px;
// right: 12px;
// top: 12px;
//   }
//   &:hover:before {
//     @include transform(rotate(22.5deg));
//   }
// }

.btn {
  margin:0 0 20px;
  padding:10px 20px;
  color:white !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  @include fs(24px);
  @include border-radius(4px);
  @include trans;
  &:hover {
    text-decoration: none !important;
  }
  &.download {
    text-align: center;
    &:after {
      margin-left: 20px;
      content:"\f019";
      font-family:'FontAwesome';
    }
  }
}

.res-download {
  text-align: center;  
}

.name {
  margin: 0;
  position: absolute;
  z-index: 10;
  left: -200px;
  @include fs(24px);
  text-decoration: none;
  font-weight: 900;
  line-height: 52px;
  color:#333;
  @include trans;
}

@include breakpoint($small) {
.homelink:hover {
  .name {
    left:65px;
  }
}
}

.main-nav {
  float: right;
  li {
    float: left;
  }
  a {
    text-decoration: none;
    padding:15px 20px 18px;
    color:#333;
    font-weight: 700;
    display: block;
    border-bottom: 4px solid #ECF0F1;
    @include trans;
  }
  a:hover {
    padding-bottom: 14px;
  }
}

/* $all_pages */
.main-content {
  padding: 120px 4% 80px;
  p {
    @include fs(24px);
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
}

@each $item, $bgcolor in $pages { 
  // Iterates over the pages setting color per page.
  body.#{$item} nav a.#{$item} {
    padding-bottom:14px;
  }
  a.#{$item} {
    border-color: $bgcolor;
  }
  body.#{$item} .main-content a {
    color: $bgcolor;
    &:hover {
      text-decoration: underline;
    }
  }
  body.#{$item} ::-moz-selection {
    background: $bgcolor;
  }
  body.#{$item} ::selection {
    background: $bgcolor;
  }
  body.#{$item} .btn {
    background: $bgcolor;
    &:hover {
      background: $bgcolor - 30;
    }
  }
}


/* $home */
.home {
  .page-title {
    margin-top:0;
    font-weight: 300;
    @include fs(36px);
    @include breakpoint($med) {
      margin-top: 40px;
      @include fs(64px);      
    }
  }
}


/* $about */
// Resume
.resume {
  background: $footer;
  width: 98%;
  margin: 80px auto 50px;
  font-family:"Inconsolata", monospace;
  @include breakpoint($med) {
    width: 80%;
  }
  .fakebuttons {
    background: pcolor(about);
    height: 7px;
    width: 7px;
    display: block;
    @include border-radius(7px);
    position: relative;
    top: -17px;
    left:22px;
    &:before, &:after {
      content: '';
      background: pcolor(about);
      height: 7px;
      width: 7px;
      display: block;
      @include border-radius(7px);
      position: relative; 
      top: 0; 
    }
    &:before {
      left: -13px;
    }
    &:after {
      top: -7px;
      left: 13px;
    }
  }
  .resume-inside {
    padding:16px 20px 16px;
  }
  &:before {
    @include border-radius(6px 6px 0 0);
    content: '';
    background: $footer + 10;
    width: 100%;
    display: block;
    height: 20px;
    position: relative;
    top:-4px;
  }
  &:after {
    @include border-radius(0 0 6px 6px);
    content: '';
    background: $footer - 10;
    width: 100%;
    display: block;
    height: 20px;
    position: relative;
    bottom:-4px;
  }
  h4 {
    color:#aaa;
    margin:50px 0 20px;    
  }
  h5 {
    color:#aaa;
    margin:40px 0 6px;
  }
  .time {
    margin-bottom: 10px;
    display: block;
    @include fs(13px);
    color:#aaa;
  }
  ul {
    margin: 0;
    @include breakpoint($med) {
      margin: 0 0 0 20px;
    }
    li {
      margin-bottom: 15px;
      color:#eee;
    }
  }
}

/* $contact */
.cont a {
  @include fs(26px);
  @include breakpoint($med) {
    @include fs(36px);  
  }
}


/*--$FOOTER--*/

.footer, .wrap:after {
  
  position: relative;
  z-index: 1000;
  @include breakpoint($med) {
    height: 170px; 
  }
}

.footer {
  background: $footer;
  padding:40px 4% 60px;
  @include clearfix;
  a {
    color:white;
    text-decoration: none;
  }
  h3 {
    text-align: center;
  }
  @include breakpoint($med) {
    h3 {
      text-align: left;
    }
  }
}

/* $social */
@each $site, $bgcolor in $social {
// Iterates over the social map to output proper social colors 
  .social {
    .fa-#{$site} {
      background: $bgcolor;
      &:hover {
        background: $bgcolor - 40;
      }
    }
  }
}

.social {
  text-align: center;
  .fa {
    padding: 5px 8px;
    @include trans;
    @include border-radius(3px);
  }
  .text {
    padding-left:10px;
  }
  li {
    margin-bottom: 20px;
    @include breakpoint($med) {
      float: left;
    + li {
        margin-left: 20px;
      }
    }
  }
}